<launch>

    <arg name="crop_min" default="-0.1"/>
    <arg name="crop_max" default="0.6"/>
	
    <node pkg="surface_perception" type="surface_perceptor" name="surface_perceptor">
      <remap from="/cloud_in" to="/camera/depth/points" />
      <param name="target_frame" value="marker_00" />
      <param name="crop_min_x" value="$(arg crop_min)" />
      <param name="crop_max_x" value="$(arg crop_max)" />
      <param name="crop_min_y" value="$(arg crop_min)" />
      <param name="crop_max_y" value="$(arg crop_max)" />
      <param name="crop_min_z" value="$(arg crop_min)" />
      <param name="crop_max_z" value="0.2" />
    </node>

</launch>
